<div class="ms-5 ps-4  pt-4">
  <div class="row m-0 pt-5 justify-content-center">
    <div class="col-md-12 col-12 my-3">
      <div class="card">
        <p-table id="excel-table" [columns]="headerColumns" [value]="inquiryList"
          styleClass="p-datatable-sm custom-table p-datatable-gridlines">

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" class="sticky-top">{{col}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr>
              <td *ngFor="let col of headerColumns;let j=index;" class="AvenirLTStd-Heavy cursor-pointer">
                {{rowData[headerColumns[j]]}}</td>
            </tr>

          </ng-template>
        </p-table>
        <p *ngIf="inquiryList.length==0" class="no-records text-center">No Records Found</p>



      </div>
    </div>
  </div>
  <div class="nav justify-content-center align-items-center mt-2 px-2">
    <button pButton pRipple type="button" (click)="onClose()" icon="pi pi-times" style="margin-right: 10px;" label="Close" class="p-button-danger "></button>
    <button pButton pRipple type="button" (click)="exportexcel()" icon="pi pi-download" label="Download" class=" ml-5  p-button-primary "></button>

  </div>
</div>
