<div class="ms-5 ps-4  pt-4">
    <div class="row m-0 pt-5 justify-content-center">
        <div class="col-md-7  col-12 my-3">
            <div class="card">
                <p-table [value]="savedAdHocQueryList" styleClass="p-datatable-sm custom-table p-datatable-gridlines">

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="sticky-top" style="width: 3rem"></th>
                            <th class="sticky-top" style="width: 3rem"></th>
                            <th class="sticky-top">Report Name</th>
                            <th class="sticky-top">Comments</th>


                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td title="Delete" (click)="deleteAdhocQuery(item.id)" class="text-center" ><span
                                    class="material-icons-outlined f-20   text-danger cursor-pointer">
                                    delete
                                </span></td>
                            <td class="text-center" title="Edit" (click)="onEditQuery(item.id)" ><span
                                    class="material-icons-outlined f-20 color-green cursor-pointer"  routerLinkActive="active">
                                    fact_check
                                </span></td>
                            <td (click)="onSavedQueries(item.id,item.reportName)" class="AvenirLTStd-Heavy cursor-pointer color-blue"><u>{{item.reportName}}</u></td>
                            <td>{{item.comments}}</td>
                        </tr>

                    </ng-template>
                </p-table>

                <!-- <p-paginator [rows]="10" [totalRecords]='10' [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->

            </div>
        </div>
    </div>
</div>
