::ng-deep  .p-overlaypanel{
    z-index: 1025 !important;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%) !important;
    margin: 0 !important;
    &:before,&:after{
        display: none;
    }
}

