<div class="ms-5 ps-4 pt-4">
    <div class="mt-4 mx-3">
        <p-card class="p-3" styleClass="inquiry">
            <div class="row align-items-start">
                <div class="col-lg-12 col-12 d-flex nav pe-0">
                    <div class="fieldset-title ps-3 w-100">
                        <div class="legend">
                            <div class="d-flex align-items-center justify-content-between ">
                                <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Data Query</h5>
                            </div>
                        </div>

                        <div class="d-flex nav mb-2">
                            <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Inquiry Start Date
                                        <span class="text-danger">*</span></label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                calendar_today
                                            </span>
                                        </span>
                                        <input [(ngModel)]="inquiryStartDate" type="text" placeholder="MM/DD/YYYY"
                                            class="form-control " bsDatepicker>

                                    </span>
                                </div>
                            </div>
                            <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Inquiry End Date
                                        <span class="text-danger">*</span></label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                calendar_today
                                            </span>
                                        </span>
                                        <input [(ngModel)]="inquiryEndDate" type="text" placeholder="MM/DD/YYYY"
                                            class="form-control " bsDatepicker>

                                    </span>
                                </div>
                            </div>

                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Branch
                                    </label>
                                    <div class="d-flex align-items-center drop-cont ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                account_tree
                                            </span>
                                        </span>

                                            <p-multiSelect [maxSelectedLabels]="1" [resetFilterOnHide]="true"
                                            [filter]="true" [(ngModel)]="branchIds"
                                            placeholder="Select Branch" [options]="_apiservice.lookupresponse?.branch"
                                            optionValue="id" optionLabel="name" class="w-100"
                                            selectedItemsLabel="{0} items selected" appendTo="body"></p-multiSelect>


                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Client Name
                                    </label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                person
                                            </span>
                                        </span>
                                        <input type="text" id="inputgroup" [(ngModel)]="clientName" pInputText id="test"  autocomplete="off" placeholder="Client Name">
                                    </span>
                                </div>
                            </div> -->
                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Caller Name
                                    </label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                person
                                            </span>
                                        </span>
                                        <input type="text" id="inputgroup" [(ngModel)]="callerName" pInputText id="test" autocomplete="off" placeholder="Caller Name">
                                    </span>
                                </div>
                            </div> -->
                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Caller Phone
                                    </label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                call
                                            </span>
                                        </span>
                                        <p-inputMask inputId="integeronly" mask="(999) 999-9999" [(ngModel)]="callerPhone" placeholder="(999) 999-9999" class="w-100" styleClass="w-100"> </p-inputMask>
                                    </span>
                                </div>
                            </div> -->

                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2  ">

                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Record Owner
                                    </label>
                                    <span class="d-flex align-items-center drop-cont">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                person
                                            </span>
                                        </span>
                                        <p-multiSelect [maxSelectedLabels]="1" [virtualScroll]="true" [itemSize]="31" [resetFilterOnHide]="true"
                                            [filter]="true" placeholder="Record Owner" [(ngModel)]="recordOwnerIds"
                                            [options]="_apiservice.lookupresponse?.users"
                                            optionValue="id" optionLabel="name" selectedItemsLabel="{0} items selected"
                                            class="w-100"></p-multiSelect>
                                    </span>
                                </div>


                            </div> -->
                            <!-- <div class="p-field col-lg-3 col-md-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Status
                                    </label>
                                    <span class="d-flex align-items-center drop-cont">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                autorenew
                                            </span>
                                        </span>
                                        <p-multiSelect [maxSelectedLabels]="1" [virtualScroll]="true" [itemSize]="31"
                                            [disabled]="this._apiservice.referralPrivilageId!=1"
                                            [resetFilterOnHide]="true" [filter]="true" placeholder="Select Status"
                                            [options]="_apiservice.lookupresponse?.status" [(ngModel)]="statusIds"
                                            optionValue="id" optionLabel="name"
                                            selectedItemsLabel="{0} items selected" class="w-100"
                                            ></p-multiSelect>
                                    </span>
                                </div>
                            </div> -->
                            <button pButton pRipple type="button" icon="pi pi-filter" label="Advanced Filter"
                                (click)="openAdvanceFilter()" class="p-button my-3"></button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="fieldset-title ps-3 mx-2 ">
                <div class="legend">
                    <div class="d-flex align-items-center justify-content-between ">
                        <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Data Output </h5>
                    </div>
                </div>
                <div class="row align-items-start">
                    <div class="col-lg-6  col-12 d-flex nav pe-0">
                        <div class="fieldset-title ps-3 w-100">
                            <div class="legend">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Columns </h5>
                                </div>
                            </div>
                            <p-pickList (onMoveToTarget)="onColumnSelect($event)"
                                (onMoveAllToTarget)="onColumnSelect($event)"
                                (onMoveAllToSource)="onColumDeselect($event)" (onMoveToSource)="onColumDeselect($event)"
                                [source]="availableFieldsList" [target]="selectedFields" sourceHeader="Available"
                                targetHeader="Select Column Order" [dragdrop]="true" [responsive]="true"
                                [sourceStyle]="{'height':'25vh'}" [targetStyle]="{'height':'25vh'}">
                                <ng-template let-customers pTemplate="item">
                                    <div class="product-item">
                                        {{customers?.displayName}}
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </div>
                    </div>
                    <div class="col-lg-6  col-12 d-flex nav pe-0">
                        <div class="fieldset-title ps-3 w-100">
                            <div class="legend">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Sort Order </h5>
                                </div>
                            </div>
                            <p-pickList [source]="availableSortorderFields" [target]="selectdSortorderFields"
                                sourceHeader="Select for Sorting" targetHeader="Sort Order" [dragdrop]="true"
                                [responsive]="true" [sourceStyle]="{'height':'25vh'}" [targetStyle]="{'height':'25vh'}">
                                <ng-template let-customers pTemplate="item">
                                    <div class="product-item">
                                        {{customers.displayName}}
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-start">
                <div class=" col-12 d-flex nav pe-0">
                    <div class="fieldset-title ps-3 w-100">
                        <div class="legend">
                            <div class="d-flex align-items-center justify-content-between ">
                                <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Others </h5>
                            </div>
                        </div>

                        <div class="d-flex nav">
                            <div class="p-field col-lg-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Report Name<span
                                            class="text-danger">*</span>
                                    </label>
                                    <span class="d-flex align-items-center ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                flag
                                            </span>
                                        </span>

                                        <input type="text" placeholder="Report Name" [(ngModel)]="reportName" pInputText
                                            class="form-control ">
                                    </span>
                                </div>
                            </div>
                            <div class="p-field col-lg-6 col-12 pt-2 ">
                                <div class="p-inputgroup row">
                                    <label for="inputgroup" class="f-14 AvenirLTStd-Heavy ">Comments
                                    </label>
                                    <span class="d-flex  ">
                                        <span class="p-inputgroup-addon">
                                            <span class="material-icons-outlined f-20">
                                                message
                                            </span>
                                        </span>

                                        <textarea [(ngModel)]="comments" pInputTextarea rows="1" cols="30"></textarea>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nav justify-content-center align-items-center mt-2 px-2">
                <button (click)="location.back()" pButton pRipple type="button" icon="pi pi-times" label="Close"
                    class="p-button-danger "></button>
                <button style="margin-left: 10px;" (click)="genarate()" pButton pRipple type="button"
                    icon="pi {{reportId==0?'pi-plus-circle':'pi-send'}}" label="{{reportId==0?'Generate':'Save'}}"
                    class="p-button-info  me-2"></button>


            </div>

        </p-card>
    </div>
</div>



<p-dialog header="Advanced Filter" (onHide)="overlayPanel=true;" (onShow)="overlayPanel=false" [(visible)]="displayResponsive" [breakpoints]="{'960px': '95vw'}"
    styleClass="add-filter-dialog" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class=" nav border p-2 mt-3">
        <!-- <div class="p-field-radiobutton mb-2">
      <p-radioButton name="groupname" value="1" label="1" [(ngModel)]="selectedValue" ></p-radioButton><br>
      <label for="city1" class="mx-2 min-w-100">Any</label>
  </div> -->

        <ng-container *ngFor="let item of slectedFilters;let i=index">
            <div *ngIf="item.elementType=='dateType'" class="col-md-6 col-12 px-2 py-1">
                <div class="p-inputgroup mt-4">
                    <span (click)="onDeselectFilter(item)"
                        class="p-inputgroup-addon bg-none cursor-pointer text-danger"><i
                            class="pi pi-times-circle"></i></span>
                    <!-- <input type="text" style="background-color: #ffffff;" readonly [placeholder]="item.label"
                        class="form-control " (click)="op.toggle($event)"> -->
                        <span class="p-float-label">
                            <input type="text" readonly [value]="item?.value" style="background-color: #ffffff;" pInputText
                            class="form-control " (click)="op.toggle($event); ">
                            <label for="inputtext" class="AvenirLTStd-Medium f-14">{{item.label}}</label>
                        </span>
                    <p-overlayPanel  [showCloseIcon]="true" [dismissable]="true" #op appendTo="body">
                        <ng-template pTemplate>
                            <h5 class="AvenirLTStd-Heavy">{{item.label}}</h5>
                            <div class="p-field-radiobutton d-flex align-items-center mb-2">
                                <p-radioButton name="date" value="between" inputId="between"
                                    [(ngModel)]="item.selectedValue"></p-radioButton>
                                <label for="between" class="mx-2 min-w-100">Between</label>
                                <input [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="slectedFilters[i].elementValue1" [disabled]="item.selectedValue!='between'" type="text" bsDatepicker
                                    placeholder="MM/DD/YYYY" pInputText class="form-control me-1"> -
                                <input [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="slectedFilters[i].elementValue2" [disabled]="item.selectedValue!='between'" type="text" bsDatepicker
                                    placeholder="MM/DD/YYYY" pInputText class="form-control ms-1">
                            </div>


                            <div class="p-field-radiobutton mb-2">
                                <p-radioButton name="date" value="Is Blank" inputId="isBlank"
                                    [(ngModel)]="item.selectedValue"></p-radioButton>
                                <label for="isBlank" class="mx-2 min-w-100">Is Blank</label>
                            </div>
                            <div class="p-field-radiobutton mb-2">
                                <p-radioButton name="date" value="Is Not Blank" inputId="isNotBlank"
                                    [(ngModel)]="item.selectedValue"></p-radioButton>
                                <label for="isNotBlank" class="mx-2 min-w-100">Is Not blank</label>
                            </div>
                            <div (click)="onDateUpdate(i,op)" class="d-flex align-items-center justify-content-end">
                                <p-button label="Update" pRipple></p-button>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
                </div>
            </div>

            <div *ngIf="item.elementType=='selectbox'" class="col-md-6 col-12 px-2 py-1">
                <div class="p-inputgroup p-multi-cont mt-4">
                    <span (click)="onDeselectFilter(item)"
                        class="p-inputgroup-addon bg-none cursor-pointer text-danger"><i
                            class="pi pi-times-circle"></i></span>
                        <span class="p-float-label">
                            <p-multiSelect [resetFilterOnHide]="true" (onChange)="item.elementName!='inquiry_id'?multiSelectChange(i,item.elementName):''" [(ngModel)]="item.elementValue1" appendTo="body"[(ngModel)]="item.elementValue1" appendTo="body" [showToggleAll]="item.elementName=='inquiry_id'?false:true" [optionLabel]="item.elementName=='inquiry_id'?'recordId':'name'"  [optionValue]="item.elementName=='inquiry_id'?'recordId':'id'" [virtualScroll]="true"[itemSize]="30" [options]="item.label == 'Branch' ? this.branchLookup : item.label == 'Funding Category' ? this.fundingCategoryLookup : item.label == 'Record Owner'? this.recordOwnerLookup : this._apiservice.inquiriesLookUp"
                            class="w-100" styleClass="w-100">
                          </p-multiSelect>
                            <label for="inputtext" class="AvenirLTStd-Medium f-14">{{item.label}}</label>
                        </span>
                </div>
            </div>
            <div *ngIf="item.elementType=='text'" class="col-md-6 col-12 px-2 py-1">
                <div class="p-inputgroup mt-4">
                    <span (click)="onDeselectFilter(item)"
                        class="p-inputgroup-addon bg-none cursor-pointer text-danger"><i
                            class="pi pi-times-circle"></i></span>
                    <!-- <input type="text" pInputText [placeholder]="item.label"> -->
                    <span class="p-float-label">
                        <input [(ngModel)]="item.elementValue1" type="text" pInputText >
                        <label for="inputtext" class="AvenirLTStd-Medium f-14">{{item.label}}</label>
                    </span>
                </div>
            </div>
            <div *ngIf="item.elementType=='radioButton'" class="col-md-6 col-12 px-2 py-1 mt-4">
                <div class=" p-field-checkbox p-inputgroup d-flex check-box-wrapper align-items-center">
                    <!-- <p-checkbox inputId="binary" [binary]="true"></p-checkbox> -->
                    <span (click)="onDeselectFilter(item)"
                    class="p-inputgroup-addon bg-none cursor-pointer text-danger border-end me-2"><i
                        class="pi pi-times-circle"></i></span>
                    <div class="">
                        <div class="on-off-toggle">
                            <input [(ngModel)]="item.elementValue1" [checked]="item.elementValue1==true" class="on-off-toggle__input" type="checkbox" id={{item.label}} />
                            <label for={{item.label}} class="on-off-toggle__slider"></label>
                        </div>
                    </div>
                    <label class="f-14 AvenirLTStd-Heavy mb-0 ms-2 white-space-nowrap mt-1">{{item.label}}
                    </label>
                </div>

            </div>

        </ng-container>
        <button *ngIf="reportId==0?(slectedFilters.length!=filterLookups.length) : (slectedFilters.length<filterLookups.length)" (click)="menu.toggle($event)" pButton pRipple
            type="button" label="Add Filter" class="p-button-rounded my-1 mt-4"></button>
        <p-menu #menu [popup]="true" [model]="filterLookups" appendTo="body">
            <ng-template let-filterLookups pTemplate>
                {{filterLookups.label}} <span>Test</span>
            </ng-template>
        </p-menu>
        <!-- <div class="">
      <p-dropdown [options]="filterLookups" placeholder="Add Filter" appendTo="body" optionLabel="name" [showClear]="false" [filter]="false" class="w-100"
        styleClass="w-100"></p-dropdown>
    </div> -->
        <!-- </div> -->
    </div>
    <div class="d-flex justify-content-end">
        <button (click)="onSetFilter()" pButton pRipple type="button" icon="pi pi-filter" label="Set Filter" class="mx-2 mt-2"
            class="p-button mt-2"></button>
    </div>
</p-dialog>
