<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex  align-items-center">
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2  color-orange" >Record ID # :</h6>
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2  color-green" >{{popupData?.recordId}}</h6></div>
    <div class="d-flex align-items-center">
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2  color-orange" >Date Created :</h6>
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2 color-green" >{{popupData?.dateCreated}}</h6></div>
    <div class="d-flex align-items-center">
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2  color-orange" >Record Owner :</h6>
    <h6 class="AvenirLTStd-Heavy pe-2 mt-2 color-green">{{popupData?.recordOwner}}</h6></div>
</div>

<div class="card ">
    <p-table  [value]="logList"  styleClass="p-datatable-sm custom-table p-datatable-gridlines log-table">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th class="sticky-top" >Inquiry #</th> -->
                <!-- <th class="sticky-top">Date Created</th> -->
                <!-- <th class="sticky-top" >Record Owner</th> -->
                <th class="sticky-top" >Field Name</th>
                <th class="sticky-top">Old Value</th>
                <th class="sticky-top">New Value</th>
                <th class="sticky-top" >Date Modified</th>
                <th class="sticky-top " >Last Modified By</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr>
                <td>{{item.fieldName}}</td>
                <td>{{item.oldValue}}</td>
                <td>{{item.newValue}}</td>
                <td >{{item.dateModified}}</td>
                <td>{{item.lastModifiedBy}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p *ngIf="logList.length==0" class="no-records text-center">No Records Found</p>

</div>
<!-- class="bg-aliceblue" -->