<div class="ms-5 ps-4  pt-4">
    <div class="row m-0 pt-5">
        <div class="col-md-12 col-lg-4 col-12 my-3">
            <div class="card">
                <p-table [value]="userList" styleClass="p-datatable-sm custom-table p-datatable-gridlines">
                    <ng-template pTemplate="caption">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0 AvenirLTStd-Heavy color-white">Users List</h5>
                            <div class="d-flex align-items-center">

                                <span class="material-icons-outlined cursor-pointer" (click)="op.toggle($event)">
                                    filter_alt
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="sticky-top" style="width: 3rem"></th>
                            <th class="sticky-top" style="width: 3rem"></th>
                            <th class="sticky-top">Login ID</th>
                            <th class="sticky-top">Name</th>
                            <th class="sticky-top">Admin</th>
                            <th class="sticky-top" style="width:10rem">Active</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td *ngIf="item.lockStatus!=1" class="text-center" (click)="getUserDetails(item.id)"><span
                                    class="material-icons-outlined f-20 color-green cursor-pointer">
                                    edit
                                </span></td>

                            <td *ngIf="item.lockStatus!=1" class="text-center" (click)="passwordPopup(item)"><span
                                    class="material-icons-outlined f-20 text-danger cursor-pointer">
                                    vpn_key
                                </span>
                              </td>
                              <td *ngIf="item.lockStatus==1" (click)="unlockUser(item)" colspan="2" class="text-center" ><span
                                class="material-icons-outlined f-20 color-green cursor-pointer">
                                lock_open
                            </span></td>
                            <td>{{item.loginId}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.admin}}</td>
                            <td>{{item.active}}</td>
                        </tr>

                    </ng-template>

                </p-table>
                <p *ngIf="userList.length==0" class="no-records text-center">No Records Found</p>

                <p-paginator [rows]="20" (onPageChange)="onPageChange($event)"  [totalRecords]='totalReocrdCount' [rowsPerPageOptions]="[10,20,30]"></p-paginator>

            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-12 roles-custom-header my-3 pe-lg-5">

            <p-card styleClass="pt-0" >
                <div class="fieldset ">
                    <div class=" ">
                        <div class="d-flex align-items-center justify-content-between title-header">
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 " > {{this.userForm.value.id==0?'Create User':'Edit User'}} </h5>

                        </div>
                    </div>
                    <form [formGroup]="userForm" autocomplete="off" >
                    <div class="p-fluid p-grid row m-0 " >
                        <div class="p-field  col-md-6    col-12 pt-4 pe-0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Login ID  <span
                                    class="text-danger">*</span>
                                </label>

                                <span class="d-flex align-items-center  col-8">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            person
                                        </span>
                                    </span>
                                    <input type="text" id="inputgroup" [ngClass]="{'is-invalid ': formControls.loginId.invalid&& formError }" [readonly]="userForm.value.id!=0" formControlName="loginId" pInputText  autocomplete="off" placeholder="Login ID">

                                </span>
                            </div>
                        </div>
                        <div class=" col-md-6 col-12 pt-4 d-flex pe-0">
                            <div class="p-inputgroup ">
                                <p class="f-14 AvenirLTStd-Heavy mb-0 me-2">Is Admin</p>
                                <div class="p-field-checkbox ">
                                    <p-checkbox formControlName="isAdmin" [binary]="true" inputId="binary"></p-checkbox>
                                </div>
                            </div>

                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0" *ngIf="userForm.value.id==0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Password  <span
                                    class="text-danger">*</span>
                                </label>
                                <span class="d-flex align-items-center col-8 ">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            lock
                                        </span>
                                    </span>
                                    <p-password [toggleMask]="true" [feedback]="false" [ngClass]="{'is-invalid ': formControls.password.invalid&& formError }"  formControlName="password" placeholder="Password" class="w-100" styleClass="w-100"></p-password>
                                </span>
                            </div>
                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0" *ngIf="userForm.value.id==0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Re Type Password  <span
                                    class="text-danger">*</span>
                                </label>
                                <span class="d-flex align-items-center col-8 ">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                           lock
                                        </span>
                                    </span>
                                    <p-password [toggleMask]="true" [feedback]="false" [ngClass]="{'is-invalid ': formControls.reTypePassword.invalid&& formError }" formControlName="reTypePassword" placeholder="Re Type Password" class="w-100" styleClass="w-100"></p-password>
                                </span>
                            </div>
                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Last Name  <span
                                    class="text-danger">*</span>
                                </label>
                                <span class="d-flex align-items-center col-8">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            person
                                        </span>
                                    </span>
                                    <input type="text" id="inputgroup"[ngClass]="{'is-invalid ': formControls.lastName.invalid&& formError }" formControlName="lastName" pInputText autocomplete="off" placeholder="Last Name">

                                </span>
                            </div>
                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Middle Name
                                </label>
                                <span class="d-flex align-items-center col-8">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            person
                                        </span>
                                    </span>
                                    <input type="text" id="inputgroup" formControlName="middleName" pInputText autocomplete="off" placeholder="Middle Name">

                                </span>
                            </div>
                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">First Name  <span
                                    class="text-danger">*</span>
                                </label>
                                <span class="d-flex align-items-center col-8">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            person
                                        </span>
                                    </span>
                                    <input type="text" id="inputgroup"[ngClass]="{'is-invalid ': formControls.firstName.invalid&& formError }" formControlName="firstName" pInputText autocomplete="off" placeholder="First Name">

                                </span>
                            </div>

                        </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0">
                          <div class="p-inputgroup row">
                              <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Email <span
                                  class="text-danger">*</span>
                              </label>
                              <span class="d-flex align-items-center col-8">
                                  <span class="p-inputgroup-addon">
                                      <span class="material-icons-outlined f-20">
                                        alternate_email
                                      </span>
                                  </span>
                                  <input type="text" id="inputgroup" [ngClass]="{'is-invalid ': formControls.email.invalid && formError }" formControlName="email" pInputText  autocomplete="off" placeholder="Email">

                              </span>
                          </div>

                      </div>
                        <div class="p-field  col-md-6   col-12 pt-4 pe-0 ">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">User Type  <span
                                    class="text-danger">*</span>
                                </label>
                                <span class="d-flex align-items-center col-8">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            format_list_bulleted
                                        </span>
                                    </span>
                                    <p-dropdown [resetFilterOnHide]="true"  [ngClass]="{'is-invalid':formControls.userType.invalid && formError}" optionValue="id" formControlName="userType" [options]="_apiservice.lookupresponse?.userType" placeholder="User Type" optionLabel="name" [showClear]="true"
                                        class="w-100" styleClass="w-100"></p-dropdown>
                                </span>
                            </div>
                        </div>
                        <div class=" col-md-6 col-12 pt-4" *ngIf="userForm.value.id!=0">
                            <div class="p-inputgroup">
                                <p class="f-14 AvenirLTStd-Heavy mb-0 col-4">Active</p>
                                <div class="p-field-checkbox ">
                                    <p-inputSwitch  formControlName="active"></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                  <div class="nav justify-content-between align-items-center mt-2 px-2">
                        <button (click)="createForm()" pButton pRipple type="button" icon="pi pi-times" label="Cancel"
                            class="p-button-danger"></button>

                        <p-button label="Save" icon="pi pi-save" (click)="saveUser()" ></p-button>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="pt-0 mt-2" *ngIf="privilage">
                <div class="fieldset ">
                    <div class=" ">
                        <div class="d-flex title-header align-items-center justify-content-between">
                            <!-- <h5 class="AvenirLTStd-Heavy mb-0 px-2 ">Map Roles</h5> -->
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 cursor-pointer" (click)="privilage=false">Edit User
                            </h5>
                        </div>
                    </div>
                    <div class="p-fluid p-grid row m-0 mb-2">
                        <div class="col-md-4 col-12 d-flex align-items-center">
                            <div class="p-field-checkbox ">
                                <p class="f-16 AvenirLTStd-Heavy mb-0 mt-2">Role: coordinator</p>
                            </div>
                        </div>

                    </div>
                    <p-pickList [source]="userList" [target]="list2" sourceHeader="Available Groups"
                        targetHeader="Selected Groups" [dragdrop]="true" [responsive]="true"
                        [sourceStyle]="{'height':'25vh'}" [targetStyle]="{'height':'25vh'}" filterBy="id"
                        sourceFilterPlaceholder="Search by Groups" targetFilterPlaceholder="Search by Roles">
                        <ng-template let-customers pTemplate="item">
                            <div class="product-item">
                                {{customers.id}}
                            </div>
                        </ng-template>
                    </p-pickList>
                    <div class="nav justify-content-between align-items-center mt-2 px-2">
                        <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
                            class="p-button-danger"></button>
                        <p-button label="Grant" icon="pi pi-send"></p-button>
                    </div>
                </div>
            </p-card>

        </div>
    </div>
</div>


<p-overlayPanel #op [style]="{width: '300px'}" appendTo="body">
    <ng-template pTemplate>
      <label for="inputgroup" class="AvenirLTStd-Heavy f-14 mt-2">User Name </label>
        <div class="p-inputgroup  ">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText [(ngModel)]="userNameFilter" autocomplete="off" placeholder="User Name">
            </span>
        </div>
        <label for="inputgroup" class="AvenirLTStd-Heavy f-14 mt-2">Login Id </label>
        <div class="p-inputgroup  ">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <span class="p-float-label">
                <input type="text" id="inputgroup" [(ngModel)]="loginIdFilter" pInputText autocomplete="off" placeholder="Login ID">
            </span>
        </div>
        <label class="AvenirLTStd-Heavy f-14 mt-2">Active</label>
        <div class="d-flex align-items-center ">
            <div class="p-field-radiobutton d-flex align-items-center">
                <p-radioButton name="groupname" value="1" [(ngModel)]="activeFilter"></p-radioButton>
                <label for="city1" class="mx-2 AvenirLTStd-Light">Yes</label>
            </div>
            <div class="p-field-radiobutton d-flex align-items-center ">
                <p-radioButton name="groupname" value="0" [(ngModel)]="activeFilter"></p-radioButton>
                <label for="city2" class="mx-2 AvenirLTStd-Light">No</label>
            </div>
            <div class="p-field-radiobutton d-flex align-items-center">
                <p-radioButton name="groupname" value="2" [(ngModel)]="activeFilter"></p-radioButton>
                <label for="city3" class="mx-2 AvenirLTStd-Light">All</label>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button pButton pRipple type="button" (click)="getUserList(op)" icon="pi pi-search"
                class="p-button-rounded p-button-success mt-2"></button>

        </div>
    </ng-template>
</p-overlayPanel>

<p-dialog header="Reset Password" [(visible)]="displayBasic" [style]="{width: '30vw'}" [baseZIndex]="10000">
    <div class="p-fluid p-grid row m-0 " >

        <div class="p-field      col-12 pt-4 pe-0">
        <div class="p-inputgroup row">
            <label for="inputgroup" class="f-14 AvenirLTStd-Medium col-4">Login Id
            </label>

            <span class="d-flex align-items-center  col-8">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        lock
                    </span>
                </span>
                <input type="text" id="inputgroup" [(ngModel)]="currentLoginId" readonly pInputText autocomplete="off" placeholder="Login Id">


            </span>
        </div>
        </div>

        <div class="p-field      col-12 pt-4 pe-0">
          <div class="p-inputgroup row">
              <label for="inputgroup" class="f-14 AvenirLTStd-Medium col-4"> Password
              </label>

              <span class="d-flex align-items-center  col-8">
                  <span class="p-inputgroup-addon">
                      <span class="material-icons-outlined f-20">
                          lock
                      </span>
                  </span>
                  <p-password class="w-100 border" placeholder=" Password" class="w-100" styleClass="w-100" [(ngModel)]="password"  [feedback]="false" [toggleMask]="true"></p-password>


              </span>
          </div>
          </div>
    </div>

        <div class="nav justify-content-between align-items-center mt-2 px-2">
            <button pButton pRipple type="button" icon="pi pi-times" label="Cancel" (click)="displayBasic=false"
                class="p-button-danger"></button>
            <p-button label="Save" icon="pi pi-save" (click)="reSetPassword()"></p-button>
        </div>
</p-dialog>
