<!-- <p>inquiry works!</p> -->
<div class="ms-5 ps-4 pt-4">
  <div class="pt-5 mx-2">

    <form [formGroup]="inquiryFilterForm" (ngSubmit)="onGo()" class="">
      <div class="card">
        <p-table [value]="inquiriesList" id="excel-table"
          styleClass="p-datatable-sm custom-table p-datatable-gridlines inquiry-table p-datatable-striped">
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between filter-container">
              <div class="d-flex align-items-center nav  ">
                <div class="d-flex align-items-center pb-1 " style="z-index: 1021">
                  <!-- <span class="">
                                        <input type="number" [(ngModel)]="recordId" pInputText autocomplete="off" placeholder="Inquiry #"
                                            class="AvenirLTStd-Roman rounded-pill w-110" />
                                    </span> -->
                  <span style="width:118px">
                    <p-dropdown #inquiry (onChange)="inquiry.focus()" (keyup.enter)='onGo()' [resetFilterOnHide]="true"
                      [virtualScroll]="true" [filter]="true" [ngClass]="{'ng-invalid ng-dirty ':true}"
                      placeholder="Inquiry #" [itemSize]="20" [options]="_apiservice.inquiriesLookUp"
                      formControlName="inquiryNumber" optionValue="recordId" optionLabel="recordId" [showClear]="true"
                      class="w-100" styleClass="w-100 rounded-pill" appendTo="body"></p-dropdown>
                  </span>

                </div>
                <!-- <div class="d-flex align-items-center ms-2  pb-1 w-200">
                                    <span class="w-100">
                                            <p-calendar [(ngModel)]="inquiryDate" selectionMode="range" styleClass="w-100" placeholder="Start Date -End Date" class="w-100" [readonlyInput]="true" inputId="range"></p-calendar>
                                    </span>
                                </div> -->
                <div class="d-flex align-items-center ms-1  pb-1 ">
                  <span class="w-90px">
                    <!-- <p-calendar  inputId="navigators" [(ngModel)]="inquiryDateStart"  styleClass="w-100" placeholder="Start Date " class="w-100" [yearNavigator]="true"yearRange="2000:9999" [monthNavigator]="true" [readonlyInput]="false" ></p-calendar> -->
                    <input type="text" [bsConfig]="{ returnFocusToInput: true }" (keyup.enter)='onGo()'
                      placeholder="Start Date" class="form-control rounded-pill" bsDatepicker
                      (bsValueChange)="onDateChange($event,'start')" formControlName="startDate">
                  </span>
                </div>
                <div class="d-flex align-items-center ms-1  pb-1 ">
                  <span class="w-90px">
                    <input type="text" [bsConfig]="{ returnFocusToInput: true }" (keyup.enter)='onGo()'
                      placeholder="End Date" class="form-control rounded-pill" bsDatepicker
                      (bsValueChange)="onDateChange($event,'end')" formControlName="endDate">
                    <!-- <p-calendar  inputId="navigators" [(ngModel)]="inquiryDateEnd"   styleClass="w-100"[yearNavigator]="true" [monthNavigator]="true" yearRange="2000:9999" placeholder="End Date" class="w-100" [readonlyInput]="false" ></p-calendar> -->
                  </span>
                </div>
                <div style="z-index: 1021" class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <p-dropdown #branch formControlName="branch" (keyup.enter)='onGo()' [resetFilterOnHide]="true"
                      [filter]="true" [pTooltip]="inquiryFilterForm.value.branch?.name" (onChange)="branch.focus()"
                      [options]="_apiservice.lookupresponse?.branch" [showClear]="true" apppendTo="body"
                      optionLabel="name" styleClass="w-200 rounded-pill" placeholder="Branch Name">
                      <!-- <ng-template let-item pTemplate="selectedItem">
                                                <span style="vertical-align:middle" [pTooltip]='item' >{{item}}</span>
                                            </ng-template>
                                            <ng-template let-_apiservice.lookupresponse pTemplate="item">
                                                <div class="ui-helper-clearfix" style="position: relative;height:25px;" >
                                                    <span style="font-size:14px;float:right;margin-top:4px">{{_apiservice.lookupresponse.branch}}</span>
                                                </div>
                                            </ng-template> -->
                    </p-dropdown>
                  </span>
                </div>
                <div class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <input type="text" pInputText autocomplete="off" formControlName="clientName"
                      placeholder="Client Name" class="AvenirLTStd-Roman rounded-pill" />
                  </span>
                </div>
                <div style="z-index: 1021" class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <p-dropdown #status (onChange)="status.focus()" (keyup.enter)='onGo()' [resetFilterOnHide]="true"
                      [filter]="true" appendTo="body" formControlName="statusId" [showClear]="true"
                      [options]="_apiservice.lookupresponse?.status" apppendTo="body" optionValue="id"
                      optionLabel="name" styleClass="w-120 rounded-pill" placeholder="Status">
                    </p-dropdown>
                  </span>
                </div>
                <!-- <div style="z-index: 1021" class="d-flex align-items-center ms-1  pb-1">
                                  <span class="w-140px">
                                      <p-dropdown  [resetFilterOnHide]="true" [filter]="true"  [showClear]="true" [options]="_apiservice.lookupresponse?.users" apppendTo="body" optionValue="id" optionLabel="name" styleClass="w-100 rounded-pill"
                                          placeholder="Created By"></p-dropdown>
                                  </span>
                              </div> -->
                <div class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <input type="text" formControlName="callerName" pInputText autocomplete="off"
                      placeholder="Caller Name" class="AvenirLTStd-Roman rounded-pill w-110" />
                  </span>
                </div>
                <div class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <input type="text" formControlName="callerPhone" pInputText autocomplete="off"
                      placeholder="Caller Phone " class="AvenirLTStd-Roman rounded-pill w-110" />
                  </span>
                </div>
                <div class="d-flex align-items-center pb-1 " style="z-index: 1021">
                  <!-- <span class="">
                                        <input type="number" [(ngModel)]="recordId" pInputText autocomplete="off" placeholder="Inquiry #"
                                            class="AvenirLTStd-Roman rounded-pill w-110" />
                                    </span> -->
                  <span style="width:180px">
                    <p-dropdown #recordOwner (onChange)="recordOwner.focus()" (keyup.enter)='onGo()'
                      [resetFilterOnHide]="true" [virtualScroll]="true" appendTo="body" [filter]="true"
                      [ngClass]="{'ng-invalid ng-dirty ':true}" placeholder="Record Owner" [itemSize]="20"
                      [options]="_apiservice.lookupresponse?.users" formControlName="recordOwner" optionValue="id"
                      optionLabel="name" [showClear]="true" class="w-100" styleClass="w-100 rounded-pill"></p-dropdown>
                  </span>

                </div>
                <div style="z-index: 1021" class="d-flex align-items-center ms-1  pb-1">
                  <span class="">
                    <!-- <p-dropdown [resetFilterOnHide]="true" [options]="statuslist" apppendTo="body" optionLabel="name" placeholder="Status"></p-dropdown> -->
                    <button type="submit" class="p-button-rounded ms-1" (click)="onGo($event)" pRipple pButton
                      label="Go"></button>
                  </span>
                </div>
              </div>
              <div class="icons-right-header-cont d-flex align-items-center pb-1">
                <button *ngIf="_apiservice.referralPrivilageId==1||_apiservice.referralPrivilageId==2"
                  class="white-space-nowrap p-button-rounded ms-1" pButton icon="pi pi-plus " pRipple
                  label="New Inquiry" [routerLink]="['/create-inquiry']" routerLinkActive="router-link-active"></button>
                <span style="cursor: pointer;" [pTooltip]="'Export'" (click)="exportexcel2()"
                  class="material-icons-outlined ms-1 ">
                  file_download
                </span>
              </div>
            </div>

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="sticky-top" style="min-width: 7rem"></th>
              <th class="sticky-top">Inquiry&nbsp;# </th>
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Inquiry Date<span [ngClass]="{'sortActive':orderBy=='inquiry date','d-none':!inquiryDateSort}"
                    (click)="inquiryDateSort=!inquiryDateSort;onsort('asc','inquiry date',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='inquiry date','d-none':inquiryDateSort}"
                    (click)="inquiryDateSort=!inquiryDateSort;onsort('desc','inquiry date',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Date Created<span [ngClass]="{'sortActive':orderBy=='date created','d-none':!dateCreatedSort}"
                    (click)="dateCreatedSort=!dateCreatedSort;onsort('asc','date created',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='date created','d-none':dateCreatedSort}"
                    (click)="dateCreatedSort=!dateCreatedSort;onsort('desc','date created',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Branch Name<span [ngClass]="{'sortActive':orderBy=='branch name','d-none':!branchNameSort}"
                    (click)="branchNameSort=!branchNameSort;onsort('asc','branch name',$event) " style="cursor:pointer"
                    class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='branch name','d-none':branchNameSort}"
                    (click)="branchNameSort=!branchNameSort;onsort('desc','branch name',$event)" style="cursor:pointer"
                    class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Client Name<span [ngClass]="{'sortActive':orderBy=='client name','d-none':!clientLastNameSort}"
                    (click)="clientLastNameSort=!clientLastNameSort;onsort('asc','client name',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='client name','d-none':clientLastNameSort}"
                    (click)="clientLastNameSort=!clientLastNameSort;onsort('desc','client name',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <th class="sticky-top"> Caller Name</th>
              <th class="sticky-top"> Caller Phone</th>
              <th class="sticky-top"> Status</th>
              <!-- <th class="sticky-top">Inquiry Status</th> -->
              <th class="sticky-top">#&nbsp;Activities</th>
              <!-- <th class="sticky-top">Last Activity Date</th>
               -->
               <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Last Activity Date<span [ngClass]="{'sortActive':orderBy=='last activity date','d-none':!lastActivityDateSort}"
                    (click)="lastActivityDateSort=!lastActivityDateSort;onsort('asc','last activity date',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='last activity date','d-none':lastActivityDateSort}"
                    (click)="lastActivityDateSort=!lastActivityDateSort;onsort('desc','last activity date',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <!-- <th class="sticky-top">Follow-up Date</th> -->
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Record Owner<span [ngClass]="{'sortActive':orderBy=='record owner','d-none':!recordOwnerSort}"
                    (click)="recordOwnerSort=!recordOwnerSort;onsort('asc','record owner',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='record owner','d-none':recordOwnerSort}"
                    (click)="recordOwnerSort=!recordOwnerSort;;onsort('desc','record owner',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>

              <th class="sticky-top">Last Modified By</th>
              <th class="sticky-top">SOC Date</th>
              <th class="sticky-top"> Conversion</th>
              <th class="sticky-top">
                <div class="d-flex align-items-center">
                  Last Updated<span [ngClass]="{'sortActive':orderBy=='last updated','d-none':!lastUpdatedSort}"
                    (click)="lastUpdatedSort=!lastUpdatedSort;onsort('asc','last updated',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20">
                    expand_more
                  </span>
                  <span [ngClass]="{'sortActive':orderBy=='last updated','d-none':lastUpdatedSort}"
                    (click)="lastUpdatedSort=!lastUpdatedSort;;onsort('desc','last updated',$event)"
                    style="cursor:pointer" class="material-icons-outlined f-20 ">
                    expand_less
                  </span>
                </div>
              </th>
              <th class="sticky-top"> Home Conference</th>



              <!-- <th class="sticky-top" style="width:10rem">Active</> -->

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">
                <span style="cursor: pointer;" pTooltip="Edit"
                  (click)="edit(item.recordId,item.clientName?item.clientName:'')"
                  class="material-icons-outlined f-20 color-green">
                  edit
                </span>
                <span *ngIf="_apiservice.referralPrivilageId==1" style="cursor: pointer;"
                  (click)="deleteInquiry(item.recordId)" pTooltip="Delete"
                  class="  material-icons-outlined ms-2 text-danger f-20">
                  delete
                </span>
                <span style="cursor: pointer;" class="  material-icons ms-2 text-primary f-20" pTooltip="Log Data"
                  (click)="logData(item)">
                  list
                </span>
              </td>
              <td>{{item.recordId}}</td>
              <td>{{item.inquiryDate}}</td>
              <td>{{item.dateCreated}}</td>

              <td>{{item.branchName}}</td>
              <td>{{item.clientName}}</td>
              <td>{{item?.callerName}}</td>
              <td>{{item?.callerPhone}}</td>
              <td>{{item.status}}</td>
              <td class="text-end AvenirLTStd-Medium pe-3">
                <span (click)="copyactivity(item.recordId)" class="color-green cursor-pointer"
                  pTooltip="Copy Activities">
                  <i class="pi pi-copy"></i>
                </span>
                <u class="anchorblue ms-2"
                  (click)="activityRoute(item.recordId,item.clientName?item.clientName:'')">{{item.activities}}</u>
              </td>
              <td>{{item?.lastActivityDate|date:'MM/dd/yyyy hh:mm a'}}</td>

              <!-- <td>{{item?.followUpDate}}</td> -->
              <td>{{item.recordOwner}}</td>
              <td>{{item.lastModifiedBy}}</td>

              <td>{{item?.socDate}}</td>
              <td>{{item?.conversion}}</td>
              <td>{{item?.lastUpdated}}</td>
              <td>{{item.homeConference}}</td>
            </tr>
          </ng-template>
        </p-table>
        <p *ngIf="inquiriesList.length==0" class="no-records text-center">No Records Found</p>
        <p-paginator #paginator [totalRecords]="totalRecordsCount" [rows]="perPage" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
      </div>
    </form>
  </div>
</div>

<!-- Copy Activities -->
<p-dialog header="Copy Activities" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '95vw'}"
  [style]="{width: '98vw'}" styleClass="activity-select-dialog" [draggable]="false" [resizable]="false">
  <div class=" ">
    <div class="p-field my-2 d-flex align-items-center">
      <label for="inputgroup" class="f-14 AvenirLTStd-Heavy me-2">Inquiry #
      </label>
      <div class="d-flex align-items-center drop-cont col-md-4 p-0">
        <span class="p-inputgroup-addon">
          <span class="material-icons  f-20">
            list
          </span>
        </span>
        <p-dropdown [virtualScroll]="true" [(ngModel)]="inquiryId" (onChange)="getActivityList($event.value)" appendTo="body"
          [itemSize]="31" [resetFilterOnHide]="true" [filter]="true" placeholder="Inquiry #"
          [options]="_apiservice?.inquiriesLookUp" optionValue="recordId" optionLabel="recordId" [showClear]="true"
          class="w-100" styleClass="w-100">
        </p-dropdown>
      </div>
    </div>
    <div class="card">
      <p-table [value]="activityList"
        styleClass="p-datatable-sm custom-table p-datatable-gridlines p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th class="sticky-top text-center" style="width: 3rem">
              <p-checkbox (onChange)="onSellecAll()" [(ngModel)]="activityCheckedAllFlag" [binary]="true"
                [value]="activityCheckedAllFlag"></p-checkbox>
            </th>
            <th class="sticky-top">Inquiry&nbsp;#</th>
            <th class="sticky-top">Client Name</th>
            <th class="sticky-top">Activity Type</th>
            <th class="sticky-top">
              <div class="d-flex align-items-center">
                Activity Date
              </div>
            </th>
            <th class="sticky-top">
              <div class="d-flex align-items-center">
                Start Time
              </div>
            </th>
            <th class="sticky-top">
              <div class="d-flex align-items-center">
                Completed Date
              </div>
            </th>
            <th class="sticky-top">Action Type</th>
            <th class="sticky-top">Caller Name</th>
            <th class="sticky-top">Caller Phone</th>
            <th class="sticky-top">Status</th>
            <th class="sticky-top">Created By</th>
            <th class="sticky-top">Assigned To</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="text-center">
              <p-checkbox (onChange)="activityCheckedAllFlag=false;" [value]="item" [(ngModel)]="selectedActivities"
                [inputId]="item.activityId" [value]="item.activityId"></p-checkbox>
            </td>
            <td>{{item.recordId}}</td>
            <td>{{item.clientName}}</td>
            <td>{{item.activityType}}</td>
            <td>{{item.activityDate}}</td>
            <td>{{item.startTime}}</td>
            <td>{{item.completedDate}}</td>
            <td>{{item.type}}</td>
            <td>{{item.callerName}}</td>
            <td>{{item.callerPhone}}</td>
            <td>{{item.status}}</td>
            <td>{{item.createdBy}}</td>
            <td>{{item.assignedTo}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p *ngIf="activityList.length==0" class="no-records text-center">No Records Found</p>
      <!-- <p-paginator #p [totalRecords]="totalRecordsCount" [rows]="10" [showCurrentPageReport]="true"
        dropdownAppendTo="body" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
    </div>
<p class="f-14"><span class="AvenirLTStd-Heavy">Note : </span><span class="AvenirLTStd-Light">Select minimum 1 Activity</span></p>
    <div class="nav justify-content-between align-items-center mb-3  mt-2 px-2">
      <button pButton pRipple type="button" icon="pi pi-times" label="Close" (click)="displayModal=false"
        class="p-button-danger "></button>
      <p-button pRipple label="Proceed"  (click)="copyActivites()" iconPos="right">
      </p-button>
    </div>
  </div>
</p-dialog>
