<!-- <p>header works!</p> -->
<div class="nav-container w-100 z-index-1022 fixed-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-header box-shadow">
        <div class="container-fluid p-0">
            <div class="row m-0 w-100 align-items-center">
                <div class="col-4  d-flex align-items-center">
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button> -->
                    <div class="logo d-none">
                        <a class="navbar-brand  m-0"><img src="" alt="logo" class="img-fluid h-100"></a>
                    </div>
                </div>
                <h3 class="mb-0 AvenirLTStd-Heavy col-4 text-center p-0 color-white">{{apiService.headerName}}</h3>
                <div class="d-flex align-items-center nav col-4 justify-content-end">
                    <div class="user-symbol">
                        <a href="javascript:void(0)" class="symbol color-white"
                            pTooltip="{{apiService.userResponse?.userName}}"
                            (click)="op.toggle($event)">{{apiService.userResponse?.userName|slice:0:1}}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<p-overlayPanel #op [style]="{width: '200px'}" appendTo="body">
    <ng-template pTemplate>
        <ul class="m-0 p-0">

                <li class="drop-list mt-2" (click)="changePassword()"><span class="material-icons-outlined me-2">
                  lock
                  </span>Change Password</li>
            <li class="drop-list" (click)="onLogout()"><span class="material-icons me-2 mb-1">
                    logout
                </span>Log Out</li>


        </ul>
    </ng-template>
</p-overlayPanel>
