table {
  table-layout: auto !important;
}
.bg-grey {
  background: #f6f6f6;
}
.w-110 {
  width: 110px;
}
.inquiry-table {
  .p-inputtext {
    border-radius: 50rem!important;
  }
}
.p-datepicker{
  z-index: 1024 !important;
}
.fixed-header{
  position: fixed;
  top: 0;
  z-index: 99999;
}
.p-overlaypanel {
  z-index: 1024 !important;
}
.custom-table {
  .p-datatable-wrapper {
    max-height: calc(100vh - 200px);
    overflow: auto;
    table {
      thead {
        tr {
          th {
            background: #145194 !important;
            color: $white !important;
            padding: 3px 5px;
            font-size: 14px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 3px 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .p-datatable-header {
    background: #145194 !important;
    color: $white !important;
  }
}
.custom-table-edit {
  .p-datatable-wrapper {
    max-height: 54vh;
    overflow: auto;

    table {
      thead {
        tr {
          th {
            background: $table-bg-grey !important;
            color: $white !important;
            padding: 3px 5px;
            font-size: 14px;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 3px 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .p-datatable-header {
    background: $table-bg-grey !important;
    color: $white !important;
  }
}
.p-inputtext{
  font-size: 14px;
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}
.fieldset {
  border: 2px solid #145194;
  padding-bottom: 10px;
  .legend {
  }
  .title-header {
    border: 2px solid #145194;
    background: #145194;
    color: $white;
    padding: 5px;
  }
}
.roles-custom-header {
  .p-card-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.p-picklist .p-picklist-header {
  background: #767676 !important;
  color: #ffffff !important;
  border: 1px solid #767676 !important;
  padding: 5px 10px !important;
}
.inquiry {
  .p-card-content {
    padding: 0 !important;
  }
}
// timeline
.timeline {
  border-radius: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;

  .timeline-item {
    position: relative;
    width: Calc(100%/3);
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ccddf0;
      top: 13px;
      right: 50%;
    }
    &:first-child {
      padding-right: 0px;

      &::after {
        display: none;
      }
    }
    &.visited,
    &.complete {
      &::after {
        background: #5b76a2;
      }
    }
  }
  .timeline-icon {
    display: none;
  }
  .timeline-item.visited {
    &::after {
      // background-color: red
    }
    .number-wrapper {
      background-color: #5b76a2;

      .timeline-icon {
        display: flex;
        align-items: center;
        color: $white;
      }
    }
  }
  .timeline-item.complete {
    .number-wrapper {
      background-color: #5b76a2;
    }
  }
  .number-wrapper {
    border: 1px solid #5b76a2;
    background-color: $white;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}
.fieldset-title {
  position: relative;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 15px;

  .legend {
    position: absolute;
    top: -10px;
    left: 12px;
    padding: 0 20px 0 0;
    width: 100%;
  }
}
//alert
.swal2-html-container {
  font-size: 20px !important;
  font-weight: 600 !important;
}
.swal2-container{
z-index: 999999 !important;
}
@media(max-width:568px){
.filter-container{
  // justify-content: flex-end;
  // width: 100%;
  flex-wrap: wrap;
}
}
.p-picklist-source-controls{
  display: none !important;
}
.non-conversion{

  .p-dropdown-panel{
    max-width: 30vw;
    .p-dropdown-item{
      text-overflow: ellipsis;
      // overflow: auto !important;
    }
  }
}
.p-dialog-mask{
  z-index: 1025 !important;
}
.p-multiselect-panel,.p-menu{
z-index: 1025 !important;
}

.activity-select-dialog{
  .p-datatable-wrapper{
    max-height: calc(100vh - 309px)   !important;
    overflow: auto;
  }
  .p-dialog-content{
    padding-bottom: 0 !important;
  }
}
.p-multi-cont .p-multiselect{
  max-width: 32vw;
}









