.check-box-wrapper {
    cursor: pointer;
  
    .on-off-toggle {
      width: 40px;
      height: 23px;
      position: relative;
      display: inline-block;
    }
  
    .on-off-toggle__slider {
      width: 42px;
      height: 22px;
      display: block;
      border-radius: 34px;
      background-color: #bdc1c8;
      transition: background-color 0.4s;
      cursor: pointer;
  
      &:before {
        content: "";
        display: block;
        background-color: white;
        /* box-shadow: 0 0 0 1px #949494;sdsdsddssd */
        bottom: 4px;
        height: 16px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 16px;
        z-index: 5;
        border-radius: 100%;
      }
  
      &:after {
        display: block;
        line-height: 22px;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        content: "No";
        color: white;
        padding-left: 23px;
        transition: all 0.4s;
      }
  
    }
  
    .on-off-toggle__input {
      position: absolute;
      opacity: 0;
    }
  
    .on-off-toggle__input:checked+.on-off-toggle__slider {
      background-color: green;
  
      &:before {
        transform: translateX(20px);
      }
  
      &:after {
        content: 'Yes';
        color: white;
        padding-left: 6px;
      }
    }
  
  }