$white:#ffffff;
$black:#000;
$grey-light:#B5B5C3;
$primary:#4caf50;
$table-bg-grey:#767676;
$border-grey:#dee2e6;
// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 768px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;
:root{
   --white:#fff;
   --black:#000;
   --green:#4caf50;
   --grey:#767676;
}