@import "variable";
@import "mixins";
@import "common";
@import "login";
@import "header";
@import "custom-class";
@import "dialog";
@import "switch";
@import 'material-icons/iconfont/material-icons.css';


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #495057;
  background: #9dccff !important;
}
